.toppage
  = render 'side_contents'
  .main-content
    %h1.game__title 雲登り
    .description
      %pre.description__text
        説明：アローキー左右で移動。シフトキーでジャンプ。
        　　　一番上の雲にあるフラッグに触れるとクリア。
    %iframe.game__main(src="https://web.editey.com/1W7hCz8OQhHxVk3vMNJNZ63qRZyD6gAmS/index.html" width="100%" height="600")
    .under-wrapper
      .article-box
        %h3.article-box__head  参考書籍
        .book__thumbnail
          = link_to image_tag(src="https://www.sbcr.jp/wp-content/uploads/product/4815602543-464x596.png", width: '187', height: '247'),"https://www.sbcr.jp/product/4815602543/"
        .book-overview
          .block-title
            %h3
              =link_to "Unityの教科書 Unity2019完全対応版" ,"https://www.sbcr.jp/product/4815602543/"
          .block-day
            %p 発売日：2019年06月28日
            %p 著者名：荒川 巧也、浅野 祐一
      .remarks-box
        .remarks-box__title 書籍からの変更点:
        %pre.remarks-box__text
          ・雲を下からすり抜けられるように変更。
          ・クリア画面にクリアタイムを表示するように変更。
