.toppage
  = render 'side_contents'
  .main-content
    %h1.game__title すしゲットゲーム
    .description
      %pre.description__text
        説明：アローキー左右で移動。シフトキーでジャンプ。
        　　   すしオブジェクトを10個取るとクリア。亡者に当たるとゲームオーバー。
    %iframe.game__main(src="https://web.editey.com/1AF6DkvZdG8sZ6espIiNrxdFh-3NpzyHm/index.html" width="100%" height="600")
    .under-wrapper
      .article-box
        %h3.article-box__head  参考書籍
        .book__thumbnail
          = link_to image_tag(src="https://book.mynavi.jp/files/topics/101848_ext_06_0.jpg", width: '187', height: '247'),"https://book.mynavi.jp/ec/products/detail/id=101848"
        .book-overview
          .block-title
            %h3
              =link_to "楽しく学ぶ　Unity2D超入門講座" ,"https://book.mynavi.jp/ec/products/detail/id=101848"
          .block-day
            %p 発売日：2019年02月21日
            %p 著者名：森 巧尚
      .remarks-box
        .remarks-box__title 書籍からの変更点:
        %pre.remarks-box__text
          特になし
