.toppage {
  display: flex;
  .side-contents {
    background-color: ghostwhite;
    position: sticky;
    top: 0px;
    height: 100vh;
    width: 25%;
    &__list {
      margin: 20px;
      line-height: 48px;
      .side-contents__title,a {
        font-size: 16px;
      }
      a:visited {
        color: cornflowerblue;
      }
    }
  }
  .main-content {
    background-color: whitesmoke;
    position: relative;
    width: 100%;
    height: auto;
    .game__title {
      padding: 15px 112px;
      font-weight: bold;
    }
    .description {
      padding: 0 112px;
      margin-bottom: -20px;
    }
    .game__main {
      position: absolute;
      left: -10%;
      top: -30px;
      position: relative;
    }
    .under-wrapper {
      margin-top: -80px;
      display: table;
      .article-box {
        display: table-cell;
        padding: 10px;
        background-color: antiquewhite;
        height: auto;
        width: 25%;
        text-align: center;
        &__head {
          margin: 5px;
        }
        .block-day {
          text-align: left;
          margin: 5px;
          line-height: 20px;
        }
      }
      .remarks-box {
        display: table-cell;
        border: solid 1px darkgray;
        padding: 10px;
        width: 75%;
        line-height: 20px;
        &__title {
          margin-bottom: 10px;
        }
        &__text {
          padding-left: 18px;
        }
      }
    }
  }
}
